<div class="container_emp_input">
    <div class="empleado_input">
        <p>Tipo de vacuna:</p><br />
        <input type="text" placeholder="Ingrese su fecha de nacimiento..">
    </div>
    <div class="empleado_input">
        <p>Fecha de Vacunacion:</p><br />
        <input type="text" placeholder="Ingrese su direccion de domicilio..">
    </div>
    <div class="empleado_input">
        <p>Numero de dosis:</p><br />
        <input type="text" placeholder="Ingrese su numero de telefono..">
    </div>
</div>